<div class="catalog section_slider-carousel section section_mb">
    <div class="container">

        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                sliderSectionCarousel('catalog', 2, 2, 2, 3, 3, 30);
            });
        </script>

        @@if (this.title === "Другие наши категории"){
        <div class="title-wrapper">
            <div class="h2">@@title</div>
        </div>
        }

        <div class="grid mb" style="--col-md:3; --col:2;">

            <a href="#" class="catalog__item">
                <div class="catalog__img-container">
                    <img src="img/tovar-img4.webp" width="410" height="190" class="catalog__img img-fluid" alt="" loading="lazy">
                </div>

                <div class="catalog__text-container">
                    <div class="catalog__title">Бутовый камень</div>

                    <div class="catalog__text">Самый прочный вид щебня. Используется для изготовления высокомарочного бетона, ЖБИ, при строительстве промышленных зданий и в фундаментных работах.</div>

                    <div class="catalog__grid">
                        <div class="catalog__price">от 1500 ₽/м³</div>

                        @@if (this.title === "Другие наши категории"){
                        <div class="catalog__button button2">Подробнее</div>
                        }
                        @@if (!this.title){
                        <button class="catalog__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Заказать</button>
                        }
                    </div>
                </div>
            </a>

            <a href="#" class="catalog__item">
                <div class="catalog__img-container">
                    <img src="img/tovar-img5.webp" width="410" height="190" class="catalog__img img-fluid" alt="" loading="lazy">
                </div>

                <div class="catalog__text-container">
                    <div class="catalog__title">Вторичный щебень</div>

                    <div class="catalog__text">Самый прочный вид щебня. Используется для изготовления высокомарочного бетона, ЖБИ, при строительстве промышленных зданий и в фундаментных работах.</div>

                    <div class="catalog__grid">
                        <div class="catalog__price">от 1500 ₽/м³</div>

                        @@if (this.title === "Другие наши категории"){
                        <div class="catalog__button button2">Подробнее</div>
                        }
                        @@if (!this.title){
                        <button class="catalog__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Заказать</button>
                        }
                    </div>
                </div>
            </a>

            <a href="#" class="catalog__item">
                <div class="catalog__img-container">
                    <img src="img/tovar-img6.webp" width="410" height="190" class="catalog__img img-fluid" alt="" loading="lazy">
                </div>

                <div class="catalog__text-container">
                    <div class="catalog__title">Кирпичный бой</div>

                    <div class="catalog__text">Самый прочный вид щебня. Используется для изготовления высокомарочного бетона, ЖБИ, при строительстве промышленных зданий и в фундаментных работах.</div>

                    <div class="catalog__grid">
                        <div class="catalog__price">от 1500 ₽/м³</div>

                        @@if (this.title === "Другие наши категории"){
                        <div class="catalog__button button2">Подробнее</div>
                        }
                        @@if (!this.title){
                        <button class="catalog__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Заказать</button>
                        }
                    </div>
                </div>
            </a>

            <a href="#" class="catalog__item">
                <div class="catalog__img-container">
                    <img src="img/tovar-img7.webp" width="410" height="190" class="catalog__img img-fluid" alt="" loading="lazy">
                </div>

                <div class="catalog__text-container">
                    <div class="catalog__title">Щебень гранитный фр.3-10</div>

                    <div class="catalog__text">Самый прочный вид щебня. Используется для изготовления высокомарочного бетона, ЖБИ, при строительстве промышленных зданий и в фундаментных работах.</div>

                    <div class="catalog__grid">
                        <div class="catalog__price">от 1500 ₽/м³</div>

                        @@if (this.title === "Другие наши категории"){
                        <div class="catalog__button button2">Подробнее</div>
                        }
                        @@if (!this.title){
                        <button class="catalog__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Заказать</button>
                        }
                    </div>
                </div>
            </a>

            <a href="#" class="catalog__item">
                <div class="catalog__img-container">
                    <img src="img/tovar-img8.webp" width="410" height="190" class="catalog__img img-fluid" alt="" loading="lazy">
                </div>

                <div class="catalog__text-container">
                    <div class="catalog__title">Щебень гранитный фр.5-10</div>

                    <div class="catalog__text">Самый прочный вид щебня. Используется для изготовления высокомарочного бетона, ЖБИ, при строительстве промышленных зданий и в фундаментных работах.</div>

                    <div class="catalog__grid">
                        <div class="catalog__price">от 1500 ₽/м³</div>

                        @@if (this.title === "Другие наши категории"){
                        <div class="catalog__button button2">Подробнее</div>
                        }
                        @@if (!this.title){
                        <button class="catalog__button button" data-fancybox data-type="ajax" data-src="forms/modal-order.html">Заказать</button>
                        }
                    </div>
                </div>
            </a>

        </div>

    </div>
</div>

