// form-cost
.modal_cost{
  width: 710px;
  .form-control,
  .form__button{
    width: 100%;
  }

  @media only screen and (max-width: 575px) {
    .form__button{
      width: 220px;
      order: 1;
    }
  }

  .form__field_personal {
    align-self: center;
    @media only screen and (max-width: 575px) {
      order: 0;
    }
  }
}

.form__fields{
  margin-bottom: 20px;
  @media only screen and (max-width: 1359px) {
    margin-bottom: 15px;
  }
}

.form__field-wrapper{
  display: grid;
  gap: 20px;
  @media only screen and (max-width: 1359px) {
    gap: 15px;
  }
  align-items: flex-start;
}

.form__field-wrapper_product{
  grid-template-columns: minmax(0, 70%) minmax(130px, 1fr);
  //grid-template-columns: minmax(0, 430px) minmax(0, 1fr);

  @media only screen and (max-width: 425px) {
    grid-template-columns: minmax(0, 1fr);
  }
  margin-bottom: 10px;

  .form__field_product{
    margin-bottom: 0!important;
  }
  &:not(:first-child){
    margin-top: 20px;
    @media only screen and (max-width: 1359px) {
      margin-top: 15px;
    }
  }
}

.form__field-wrapper_two-columns{
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @media only screen and (max-width: 575px) {
    grid-template-columns: minmax(0, 1fr);
  }

  &:not(:last-child){
    margin-bottom: 20px;
    @media only screen and (max-width: 1359px) {
      margin-bottom: 15px;
    }
  }
  &:last-child{
    margin-top: 20px;
    @media only screen and (max-width: 1359px) {
      margin-top: 10px;
    }
  }
}

.form__field_product-button{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  svg{
    width: 24px;
    height: 24px;
    use{
      fill: var(--color-primary-600);
      transition: fill 0.1s ease-in-out;
    }
  }
  &:hover{
    svg use{
      fill: var(--button-hover);
    }
  }
}